.buttons-container {
    position: inherit; /* Para que o posicionamento absoluto seja relativo a este container */
}

.centered {
    position: absolute;
    top: 40%; /* Coloca o disco no meio verticalmente */
    left: 30%; /* Coloca o disco no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o disco */
}

body {
    background-color: #ff9cdb; /* Fundo rosa claro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */

}

.contact-info {
    color: #444; /* Texto mais escuro */
    font-size: 18px;
    line-height: 1.6;
}


     /* Estilo para fundo colorido */
     .colorful-bg {
        background: linear-gradient(135deg, #fcb69f, #a9c9fd);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 30px;
    }


    body {
        font-family: "Comic Sans MS", cursive, sans-serif;
 
        color: #444; /* Texto mais escuro */
        margin: 0;
    }

 
    h1 {
        font-size: 48px;
        margin: 0;
        color: #fff; /* Título em branco */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
    }


    /* Estilo para destaque de texto */
    .highlight-text {
        font-size: 28px;
        color: #fff;
        background-color: #ff6b8a;
        padding: 5px 10px;
        border-radius: 5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
